html {
    color: #4e292c;
    letter-spacing: .45px;
    height: fit-content;
}


body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
    position: relative;
}

h1 {
    position: absolute;
    height: 22%;
    left: 49%;
    top: 11%;
    font-weight: 1;
    font-size: larger;
    height: fit-content;
}

h2 {
    position: absolute;
    height: 22%;
    left: 24%;
    top: 61%;
    font-weight: 1;
    font-size: larger;
    height: fit-content;
}

.pinkfloatie {
    position: absolute;
    transform: rotate(10deg);
    height: 10%;
    left: 3%;
    top: 105%;
    border-radius: 15px;
    z-index: 100;
}

.donutfloatie {
    position: absolute;
    transform: rotate(350deg);
    height: 14%;
    left: 47%;
    top: 105%;
    border-radius: 15px;
    z-index: 100;
}

.nal {
    position: absolute;
    transform: rotate(10deg);
    height: 44%;
    right: 3%;
    top: 63%;
    border-radius: 15px;
}

.brownsugar {
    position: absolute;
    transform: rotate(350deg);
    height: 73%;
    right: 70%;
    top: 5%;
    border-radius: 15px;
}



blockquote.aboutus-quote {
    position: absolute;
    width: 78%;
    left: 19%;
    top: 22%;
    font-size: 78%;
    text-align: center;
}

blockquote.ourstory-quote {
    position: absolute;
    width: 58%;
    left: 1.5%;
    top: 72%;
    font-size: 78%;
    text-align: center;
}

h1,
h2,
blockquote.aboutus-quote,
blockquote.ourstory-quote {
    background: rgba(255, 255, 255, 0.397);
    padding: 10px;
    margin: 5px;
    border-radius: 15px;
}

.barista {
    position: absolute;
    transform: rotate(345deg);
    height: 42%;
    right: 74%;
    top: 125%;
    border-radius: 15px;
}

.boba {
    position: absolute;
    transform: rotate(10deg);
    height: 0%;
    left: 16%;
    top: 20%;

}

footer {
    z-index: 1000;
    position: absolute;
    top: 120%;
}

.footerlogo img {
    height: 10vh;
    width: auto;
}

.bundleMobile,
.smallBear,
.mobileP,
.mobileButtons {
    display: none;
}


@media (max-width: 768px) {

.mobileButtons {
        display: block;
        position: absolute;
        top: 1%;
        width: 100%;
        text-align: center;
    }

    html {
        height: 100%;
        min-height: 300vh;
    }

    .nal {
        display: none;
    }

     img.smallBear {
        display: inline-block;
        width: 15%;
        position: absolute;
        top: 1%;
        left: 43%;
    }

    h1,
    h2 {
        font-size: 70%;
        background: #ffffff;
    }

    h1 {
        width: 50%;
        left: 25%;
        top: 16%;
    }

    h2 {
        width: 30%;
        left: 35%;
        top: 77%;
    }


    blockquote.aboutus-quote {
        width: 87%;
        left: 5%;
        top: 25%;
        font-size: 50%;
    }

    blockquote.ourstory-quote {
        width: 87%;
        left: 5%;
        top: 85%;
        font-size: 50%;
    }
    .pinkfloatie {
       display: none;
    }
    .donutfloatie {
       display: none;
    }

    
}