@charset "utf-8";



html {
    min-height: 265vh;
}

h1,
p {
    display: block;
    font-size: 95%;
    letter-spacing: 1px;
    font-weight: 550;
    color: #be3479;
    margin: 0 auto;
    margin-top: 50px;
    margin-bottom: 70px;
    padding: 30px;
    text-align: center;
    width: 74%;

}

table {
    width: 72%;
    margin: 40px auto;
    color: #610a33;
    padding: 20px;
    background: rgba(255, 255, 255, 0.4);
    border-radius: 20px;
    border-collapse: collapse;
}

th,
td {
    padding: 12px 16px;
    text-align: center;
    letter-spacing: 1px;
}

th {
    background-color: white;
}

tr:nth-child(even) {
    background-color: #ffffff21;
}

img.smallBear,
.btn {
    display: none;
}



@media (max-width: 768px) {

    h1,
    p {
        font-size: 0.85rem;
        width: 90%;
    }

    table {
        width: 95%;
        font-size: 14px;
    }

    img.smallBear {
        display: inline-block;
        width: 60px;
        margin: 10px auto;
     
    }


    .mobileButtons {
        display: block;
        position: absolute;
        top: 1%;
        width: 100%;
        text-align: center;
    }


    td,
    th {
        padding: 2px 2.7px;
        text-align: center;
        letter-spacing: 1px;
    }



}