@charset "utf-8";
@import url('https://fonts.cdnfonts.com/css/echelon-2');

h1,
p {
    display: block;
    left: 100%;
    font-size: larger;
    letter-spacing: 1px;
    font-weight: 550;
    color: #cd6097;
    margin: 0 auto;
    padding: 30px;
    text-align: center;
    width: 80%;
}



ul {
    color: #ba3e77;
    font-size: larger;
}

table {
    width: 80%;
    margin: 40px auto;
    border: line;
    color: #ba3e77;
}

th,
td {
    padding: 12px 16px;
    text-align: center;
    letter-spacing: 1px;
}

th {
    background-color: rgb(255, 255, 255);
    border-style: solid;
    border: #ffffff;

}

tr:nth-child(even) {
    background-color: #ffffff21;
}



@media (max-aspect-ratio: 1/1) {}