@charset "utf-8";

footer, header, main, nav, section { 
   display: block;
}

html {
    display: block;
    background: radial-gradient(rgba(255, 140, 220, 0.925), rgb(247, 161, 221), rgb(255, 220, 252));
    background-size: 100vw 100vh;
    color: rgb(255, 255, 255);
    font-weight: 400;
    font-style: normal;
    font-size: 30px;
}

li {
    display: list-item;
	list-style-type: none;
}


/* Navigation bar */
header nav {
	width: 100%;
	padding: 20px 0;
	display: flex;
	justify-content: center;
	
}

header nav ul {
	display: flex;
	flex-direction: row;
	padding: 0;
	margin: 0;
}

header nav ul li a {
	display: block;
	padding: 10px 20px;
	color: #610a33;
	background-color: white;
	text-align: center;
}
