@charset "utf-8";
@import url('https://fonts.cdnfonts.com/css/echelon-2');

body {
    margin: 0;
    padding: 0;

}

ul img {
    width: 40px;
}

section img {
    width: 45%;
    text-align: center;
    /* margin-top: 0%;
    position:absolute;
    left: 45%; */
}

section {
    columns: 3;
    margin: 0;
    column-rule: 3px solid #610;
    text-align: center;
    padding-top: 2%;
}


p {
    font-size: 75px;
    font-weight: 110;
}

.withlove {
    font-family: 'Times New Roman', Times, serif;
}

.drinksimage {
    opacity: 0%;
}

.drinks {
    position:absolute;
    display: flex;
    flex-direction: row;
    gap: 150px;
    justify-content: center;
    top: 45%;
   left: 2.5%;
}

.mobileBear{
    opacity: 0%;
}

.bobaText {
    position:absolute;
    bottom: 45%;
      height: 20%;
}
@media (max-aspect-ratio: 1/1) {
    /* mobile view  */

.bobaText img {
    opacity: 0%;
}

    section {
        opacity: 0%;
    }

    .drinks {
        opacity: 0%;
    }
.navbar {
    opacity: 0%;
}

.mobileBear{
    opacity: 100%;
    
}

}