@charset "utf-8";




html {
    background: rgb(255, 211, 231) 40%;
}



.top {
    columns: 3;
    margin: 0;
    column-rule: 3px solid rgb(102, 0, 63);
    text-align: center;
    padding-top: 2%;
    color: #ce3a80;
}

.top img {
    width: 45%;
    animation: float 3s ease-in-out infinite;
}


.special-card {
    display: inline-block;
    background: #fff;
    border: 4px solid #f2a2c0;
    border-radius: 20px;
    padding: 25px;
    text-align: center;
    max-width: 350px;
    font-family: 'Arial Black', sans-serif;
    box-shadow: 8px 8px 0px #f2a2c0;
    margin-top: 10px;
}


.special-name {
    color: #333;
    font-size: 1rem;
    text-transform: uppercase;
    line-height: 1.1;
    margin-bottom: 15px;
}


.drinks {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 25px;
    height: 480px;
    border: 3.5px solid #610;
}

p {
    font-size: 65px;
    font-weight: 110;
    margin: 0%;
}

.bundleMobile,
.mobileBear,
.mobileP,
.mobileButtons {
    display: none;
}


@media (max-width: 768px) {

    .top>p,
    .top>img {
        display: none;
        column-rule: 0;
    }


    .drinks img {
        display: none;
    }

.drinks{
    border: none;
}


    .bundleMobile {
        display: block;
        width: 80%;
        position: absolute;
        top: 15%;
    }

    .mobileBear {
        display: flex;
        width: 30%;
        position: absolute;
        top: 1%;
        left: 35%;
    }

    .mobileButtons {
        display: block;
        position: absolute;
        bottom: 15%;
        width: 100%;
        text-align: center;
    }

    .btn {
        display: inline-block;
        background-color: #d46a94;
        color: white;
        text-decoration: none;
        padding: 20px 20px;
        font-size: 55%;
        letter-spacing: 5px;
        border-radius: .5em;
    }

    .top {
        columns: 1;
        margin: 0;
        text-align: center;
        position: absolute;
        top: 35%;
        font-size: 40px;
        display: inline-block;
        color: rgb(145, 37, 91);
        padding: 5px 15px;
        border-radius: 50px;
        text-transform: uppercase;
    }

    .special-card {
        display: inline-block;
        background: #fff;
        border: 4px solid #f2a2c0;
        border-radius: 20px;
        padding: 25px;
        text-align: center;
        max-width: 350px;
        font-family: 'Arial Black', sans-serif;
        box-shadow: 8px 8px 0px #f2a2c0;
        margin-top: 10px;
    }


    .special-name {
        display: inline-block;
        color: #333;
        font-size: 30px;
        text-transform: uppercase;
        line-height: 1.1;
        margin-bottom: 15px;
    }

    footer {
        display: block;
    }
}