@charset "utf-8";

.menuItem {
    display: flex;
    justify-content: center;
    border: 3px solid #610;
    margin: 50px;
    padding: 50px;
}

.drinks_mobile, img.smallBear, .mobileButtons {
    display: none;
}

@media (max-width: 768px) {
    .menuItem {
        display: none;
    }

    img.smallBear {
        display: block;
        width: 20%;
    }

    .mobileButtons {
        display: block;
        position: absolute;
        top: 1%;
        width: 100%;
        text-align: center;
    }

    .btn {
        display: inline-block;
        background-color: #d46a94;
        color: white;
        text-decoration: none;
        padding: 25px 40px;
        margin: 20px;
        font-size: 150%;
        letter-spacing: 5px;
    }

    .drinks_mobile {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 40px;
    }

    .drinks_mobile img {
        background: linear-gradient(1deg, rgb(247, 143, 191) 10%, rgb(255, 181, 215) 40%, rgb(253, 212, 231) 80%);
        padding: 30px;
        border-radius: 15px;
        width: 50%;
    }

    p {
        font-size: 130%;
        color: #ba3e77;
    }
}