@charset "utf-8";



.menuItem {
    display: flex;
    justify-content: center;
    border: 10px solid rgb(165, 18, 109);
    border-radius: 30px;
    margin: 50px;
    padding: 50px;
}

.menuItem img {
    border-radius: 30px;
}

.drinks_mobile,
img.smallBear,
.mobileButtons {
    display: none;
}

@media (max-width: 768px) {


    .menuItem {
        display: none;
    }

    img.smallBear {
        display: inline-block;
        width: 15%;
        position: absolute;
        top: 1%;
        left: 51.5%;
    }

    .mobileButtons {
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        top: 1%;
        width: 100%;
        text-align: center;
    }

    .btn {
        display: inline-block;
        background-color: #d46a94;
        color: white;
        text-decoration: none;
        padding: 5px 10px;
        margin: 0px;
        font-size: 60%;
        letter-spacing: 2px;
        border-radius: .5em;
    }

    .drinks_mobile {
        display: flex;
        margin-top: 10%;
        flex-direction: column;
        align-items: center;
        gap: 40px;

    }

    .drinks_mobile img {
        display: block;
        position: relative;
        background: linear-gradient(1deg, rgb(247, 143, 191) 10%, rgb(255, 181, 215) 40%, rgb(253, 212, 231) 80%);
        padding: 30px;
        border-radius: 15px;
        width: 60%;
    }

    .drinks_mobile a {
        display: flex;
        margin-top: 10%;
        flex-direction: column;
        align-items: center;
        gap: 40px;
        width: 100%;
        margin-bottom: 0;
        color: #ba3e77;
        text-decoration: none;
    }

    .drinks_mobile p {
        margin-top: 10px;
        margin-bottom: 0;
        font-size: 90%;
        color: #ba3e77;
    }

    .drink-item {
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    .footerImg {
        min-height: 150%;
        min-height: 100%;
    }

}