@charset "utf-8";



@media (max-width: 768px) {
    .smallBear {
        display: inline-block;
        width: 15%;
        /* position: absolute; */
        /* top: 1%; */
        left: 41.5%;
    }

    .mobileButtons {
        display: block;
        /* position: absolute; */
        /* top: 1%; */
        width: 100%;
        text-align: center;
    }

    .btn {
        display: inline-block;
        background-color: #d46a94;
        color: white;
        text-decoration: none;
        padding: 10px 20px;
        margin: 25px 30px;
        font-size: 60%;
        letter-spacing: 2px;
        border-radius: .5em;
    }

    h3 {
        width: 100%;
        margin: 40px auto 10px auto;
        color: #831749;
        background: #ffeff7c0;
        font-size: 48px;
        text-align: center;
        padding: 10px 0;
    }

    p {
        width: 90%;
        margin: 0 auto;
        color: #ba3e77;
        border: 2px solid #610;
        background: #ffc6e165;
        padding: 15px;
        line-height: 1.8;
        text-align: center;
        box-sizing: border-box;
    }

    li {
        color: #ba3e77;
      
    }



}